<div class="toolbar" role="banner">
  <div class="spacer"></div>
</div>
<form [formGroup]="testForm">
  <div class="content" role="main">
    <div *ngFor="let list of questions;let i=index;">
      <p>{{list.id}}. {{list.question}}</p>
      <div *ngIf="i==0">
        <input type="radio" value="Yes" name="radio" formControlName="radio" [(ngModel)]="list.ans">Yes
        <input type="radio" name="radio" value="No" formControlName="radio" [(ngModel)]="list.ans">No
      </div>
      <div *ngIf="i==1">
        <input id="checkbox" type="checkbox" value="Yes" name="checkbox"  formControlName="checkbox" [(ngModel)]="list.ans"><label for="checkbox">Yes</label>
        <!-- <input  type="checkbox"  [(ngModel)]="checkboxNo" [ngModelOptions]="{standalone: true}">No -->
      </div>
      <div *ngIf="i==2">
        <input type="text" formControlName="textbox" [(ngModel)]="list.ans" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.textbox.errors }">
        <div *ngIf="submitted && f.textbox.errors" class="invalid-feedback">
          <div *ngIf="f.textbox.errors?.required">Required</div>
        </div>  
      </div>
      <div *ngIf="i==3">
        <select formControlName="combobox">
          <option value="{{list.ans}}">{{list.ans}}</option>
          <option>No</option>
        </select>
      </div>
    </div>
    <button class="btn" (click)="save()">save</button>

  </div>
</form>
<!-- <router-outlet></router-outlet> -->
